.App {
  text-align: center;
}

*{
	 font-family: "Truculenta", sans-serif;
}
.Background {
  background-color: #282c34;
  min-height: 100vh;
  min-width:100vw;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
 

}
.buttons{
	width:100vw;
font-size:50px;
}
.resources{
text-align:center;
}
.resources p{
	margin: 0;
	padding: 0;
}

.links {
  display: flex;
  position: absolute;
  top: 10px;
  right: 15px;
  height: 10vh; 
  z-index:5;

}
.title{
font-size:50px;
top:20px;
text-align:center;

}
.upgrade-container {
  position: relative;
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: 60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.upgrade-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
.selected{
	background-color:grey;
}