.App {
  text-align: center;
}

*{
	 font-family: "Truculenta", sans-serif;
}
.Background {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position:relative;

}
.resources{
text-align:left;
}
.resources p{
	margin: 0;
	padding: 0;
}
.links {
  display: flex;
  position: absolute;
  top: 10px;
  right: 15px;
  height: 10vh; 
  z-index:5;

}
.title{
font-size:50px;
position:absolute;
top:20px;
}